body {
    text-align: center;
    margin: 3rem;
}

h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkblue;
}

canvas {
    border: 1px solid black;
}

#draw-btn {
    background-color: white;
    border: none;
}
