@media (min-width: 1200px ) {
    /* MAIN */
    input {
        width: 600px;
    }

    #search-results {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
