@media (min-width: 700px) {
    /* NAVIGATION */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    /* MAIN */
    input {
        width: 400px;
    }

    .book-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .5rem;
    }

    .book-info {
        grid-column: 2/4;
    }
    
    .book-desc {
        grid-column: 1/4;
    }
    
    .preview-link, .add-btn {
        grid-column: 3/4;
    }
}
