@media (min-width: 600px) {
    /* NAVIGATION */
    nav, .book-icon, .show {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #ham-btn {
        display: none;
    }
}

@media (min-width: 1000px) {

    /* MAIN */
    #search-results {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-content: center;
    }

    .book-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .book-info {
        grid-column: 2/4;
        text-align: left;
    }
    
    .book-desc {
        grid-column: 1/4;
    }
    
    .results-btns {
        grid-column: 3/4;
    }
}
