* {
    font-family: 'Montserrat';
    font-weight: normal;
    letter-spacing: .15rem;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-image: linear-gradient(#4A1942, white);
    background-color: #4A1942;
    color: #4A1942;
    text-align: center;
    padding: 1rem;
}

h1 {
    font-family: 'WindSong';
    font-size: 6rem;
    padding: 1rem;
}

/* MAIN */
section {
    margin: 2rem;
    border: 2px solid #4A1942;
    border-radius: 10px 0px;
}

h2 {
    background-color: #4A1942;
    color: white;
    font-family: 'WindSong';
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 5px 0px 0px 0px;
}

a {
    color: #4A1942;
    text-decoration: none;
}

ul {
    padding: 1rem;
    list-style: none;
}

li {
    padding: .5rem;
    border-bottom: 1px solid #4A1942;
}

p {
    padding: 1rem;
}

/* FOOTER */
footer {
    background-color: #4A1942;
    color: white;
    text-align: center;
    padding: 1rem;
}